{% extends 'base.html.twig' %}

{% block title %}LexPro{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Dashboard</h1>
        <p>Zalogowano poprawnie.</p>
    </div>
{% endblock %}
