<form method="post"
      action="{{ path('app_postepowanie_delete', {'id': postepowanie.id}) }}"
      onsubmit="return confirm('Czy na pewno chcesz usunąć to postępowanie?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postepowanie.id) }}">

    <button class="btn btn-outline-danger">
        Usuń postępowanie
    </button>

</form>
