{% extends 'base.html.twig' %}

{% block title %}Brak dostępu{% endblock %}

{% block body %}
    <div class="container py-5 text-center">

        <h1 class="display-5 text-danger mb-3">⛔ Brak dostępu</h1>

        <p class="lead">
            Nie masz uprawnień do tej strony.
        </p>

        <a href="{{ path('app_postepowanie_index') }}" class="btn btn-primary mt-3">
            ← Wróć do strony głównej
        </a>

    </div>
{% endblock %}
